[submodule "san-vm"]
	path = san-vm
	url = https://github.com/StefanJo3107/SanVM
[submodule "san-common"]
	path = san-common
	url = https://github.com/StefanJo3107/SanCommon
[submodule "san-usb"]
	path = san-usb
	url = https://github.com/StefanJo3107/SanUSB.git
